<h1>New Task o ke ase</h1>

<%= form_for :task, url: tasks_path do |f| %>
	<p>
		<%= f.label :task %><br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :text %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
<%= link_to "Return", controller: "tasks" %>